[submodule "ros/src/qr_detector"]
	path = ros/src/qr_detector
	url = https://github.com/MarquetteRMC/qr_detector
[submodule "ros/src/vision_opencv"]
	path = ros/src/vision_opencv
	url = https://github.com/MarquetteRMC/vision_opencv.git
[submodule "ros/src/rtabmap_ros"]
	path = ros/src/rtabmap_ros
	url = https://github.com/MarquetteRMC/rtabmap_ros.git
[submodule "ros/src/zbar_ros"]
	path = ros/src/zbar_ros
	url = https://github.com/MarquetteRMC/zbar_ros.git
[submodule "ros/src/phidgets_drivers"]
	path = ros/src/phidgets_drivers
	url = https://github.com/MarquetteRMC/phidgets_drivers.git
[submodule "ros/src/roboclaw_ros"]
	path = ros/src/roboclaw_ros
	url = https://github.com/MarquetteRMC/roboclaw_ros.git
[submodule "ros/src/vision_visp"]
	path = ros/src/vision_visp
	url = https://github.com/lagadic/vision_visp.git
[submodule "ros/src/imu_tools"]
	path = ros/src/imu_tools
	url = https://github.com/MarquetteRMC/imu_tools.git
[submodule "ros/src/openni_camera"]
	path = ros/src/openni_camera
	url = https://github.com/MarquetteRMC/openni_camera.git
