<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find robot_config)/urdf/myrobot.urdf" />
    <param name="use_gui" value="true" />
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <!-- 
    
    <include file="$(find launch_files)/drivers.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <include file="$(find openni_launch)/launch/openni.launch" /> depth_registration="true" /> -->
    <!--<include file="ARUCO TODO" /> 
    
    -->
    
   <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />-->
    

</launch>

