<launch>

    <include file="$(find odrive_ros)/launch/odrive.launch" />
    <include file="$(find roboclaw_node)/launch/roboclaw_nodes.launch" />
    
    <node pkg="current_sensing" type="phidgets_sensors.py" name="phidgets_sensors" />

    <node pkg="joint_position_controller" type="joint_controller.py" name="joint_controller_node" />


</launch>
